img[src*="avatars"] { width: 140px; height: 140px; background-color: transparent; }
span.icon-arrow-down ~ span.icon-arrow-up { margin-left: -7px; }
a span.icon-arrow-down, a span.icon-arrow-up { opacity: 0.3; }
a.sorted-asc span.icon-arrow-down { opacity: 1; }
a.sorted-desc span.icon-arrow-up { opacity: 1; }
.hidden { display: none; }
.margin-top-20px { margin-top: 20px; }
.bottom-aligned { margin-bottom: 0; vertical-align: bottom; }

td:nth-child(1) { width: 29px; }
td:nth-child(2) { width: 150px; }
td:nth-child(4) input { width: 55px; }

.modal.fade {
	-webkit-transition: opacity 0.3s ease !important;
	-moz-transition: opacity 0.3s ease !important;
	-o-transition: opacity 0.3s ease !important;
	transition: opacity 0.3s ease !important;
	top: -100%;
}
.modal-backdrop, .modal-backdrop.fade.in {
	opacity: .5;
	filter: alpha(opacity=50);
}
.modal-body, .alert { white-space: pre-line; }
